@use "../utils" as *;

html {
  font-style: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-family: $base-font;
  position: relative;
}
