@use "functions" as *;
@use "variables" as *;

@mixin flex-centering() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-centering() {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin max-width($size) {
  width: 100%;
  max-width: $size;
}
