@use "functions" as *;

// Colors
// Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);

// Neutral
$dark-blue: hsl(234, 12%, 34%);

// Colors Pallete
$colors: (
  "red": $red,
  "cyan": $cyan,
);

// Font size
$base-font-size: rem(15) !default;

// Font Weight
$font-weight-400: 400;
$font-weight-700: 700;

// Border Radius
$base-border-radius: rem(8) !default;

// Box-Shadow
$base-box-shadow: 0px 10px 25px rgba($red, 0.1), 0px 10px 25px rgba($red, 0.1);
